*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.count{
  border: 1px solid #eee;
  text-align: center;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
}
.count h2{
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.count h4{
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #585858;
}

.count-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
}
.count-box p{
  padding: 0px 10px;
}